<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:monitor="http://typo3.org/ns/T3Monitor/T3monitoring/ViewHelpers">

<f:layout name="Module" />

<f:section name="Content">
	<h1>{f:translate(key:'tx_t3monitoring_domain_model_extension', extensionName: 't3monitoring')} "{latest.title}" ({latest.name})</h1>
	<p class="lead">{latest.description -> f:format.nl2br()}
		<f:if condition="{latest.authorName}">
			<br>{f:translate(key:'extension.by', extensionName: 't3monitoring',arguments:'{0:latest.authorName}')}
		</f:if>
	</p>

	<f:if condition="{versions}">
		<f:then>
			<div class="panel panel-default">
				<div class="panel-heading">
					Versions ({versions -> f:count()} total)
				</div>
				<table class="table table-striped table-hover">
					<thead>
					<tr>
						<th style="width:150px;">{f:translate(key:'tx_t3monitoring_domain_model_extension.version', extensionName: 't3monitoring')}</th>
						<th>{f:translate(key:'tx_t3monitoring_domain_model_extension.last_updated', extensionName: 't3monitoring')}</th>
						<th>{f:translate(key:'tx_t3monitoring_domain_model_extension.state', extensionName: 't3monitoring')}</th>
						<th>{f:translate(key:'tx_t3monitoring_domain_model_extension.category', extensionName: 't3monitoring')}</th>
						<th>{f:translate(key:'tx_t3monitoring_domain_model_extension.update_comment', extensionName: 't3monitoring')}</th>
					</tr>
					</thead>
					<f:for each="{versions}" as="version">
						<tr class="{f:if(condition:version.insecure,then:'danger',else:'success')}">
							<th class="text-nowrap">{version.version}</th>
							<td class="text-nowrap">{monitor:format.dateTimeAge(date:version.lastUpdated)}</td>
							<td><span class="label label-{version.state -> monitor:format.extensionState()}">{version.state -> monitor:format.extensionState()}</span></td>
							<td>{version.category -> monitor:format.extensionCategory()}</td>
							<td>{version.updateComment -> f:format.nl2br()}</td>
						</tr>
					</f:for>
				</table>
			</div>
		</f:then>
		<f:else>
			<div class="alert alert-notice">
				{f:translate(key:'no.versions.available', extensionName: 't3monitoring')}
			</div>
		</f:else>
	</f:if>
</f:section>