.filter fieldset {
    margin: 0 0 1rem;
}

.filter legend {
    margin: 0 0 0.5rem;
    font-size: 12px;
}

.client-list th,
.extension-list th {
    cursor: pointer;
}
.client-list th.no-sorting,
.extension-list th.no-sorting {
    cursor: default;
}

.panel .table,
.panel-collapse .table,
.panel .table-fit,
.panel-collapse .table-fit {
    border: 0;
    margin: 0;
}

.dt-info {
    padding: 0.5rem 1rem;
}
